html {
  font-size: 62.5%; 
  height: 100%;
}
/* Medium screens (640px)
@media (min-width: 40rem) {
  html { font-size: 112%; }
}

/* Large screens (1024px) */
/* @media (min-width: 64rem) {
  html { font-size: 120%; }
} */ */

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

img {
  max-width: 100%;
  border: none;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

a img {
  border: 0;
}