.dooutss-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: var(--spacing-very) var(--spacing-container-left);
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .dooutss-header {
    flex-direction: row;
  }
}
