.dooutss-information{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: var(--spacing-very) var(--spacing-container-left);
    background-image: url('../../img/bg-intro.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;  
}