.wrapper-information {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    width: 100%;
}

@media screen and (min-width: 900px) {
    .wrapper-information {
        flex: 0 0 calc(50% - 25px);
        width: calc(50% - 25px);
        margin-right: 25px;
    }
}

.wrapper-information .title {
    width: 100%;
    max-width: 550px;
    color: var(--color-zero);
    font-size: 3.6rem;
    line-height: 1.4;
    margin-bottom: var(--spacing-small);
}

.wrapper-information .subtitle {
    width: 100%;
    max-width: 650px;
    color: var(--color-zero);
    font-size: 1.6rem;
    line-height: 1.4;
    font-weight: 300;
    letter-spacing: .1rem;
    margin-bottom: var(--spacing-big);
}

.wrapper-information .btn {
    position: relative;
    max-width: 320px;
    padding: var(--spacing-very) var(--spacing-small);
    margin-bottom: var(--spacing-big);
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    text-align: center;
    color: #000;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0px 1px 1px 0px rgba(68, 68, 68, .8);
    cursor: pointer;
    opacity: .8;
}

.wrapper-information .btn:hover {
    opacity: 1;
}

.wrapper-information .btn::after {
    content: '';
    position: absolute;
    display: none;
    top: 25%;
    right: 5%;
    width: 30px;
    height: 20px;
    margin: auto;
    background-image: url('../../img/arrow.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transition: all 1s;
}

.wrapper-information .btn:hover::after {
    transform: rotate(360deg);
}

@media screen and (min-width: 380px) {
    .wrapper-information .btn {
        text-align-last: left;
    }

    .wrapper-information .btn::after {
        display: inline-block;
    }
}

@media screen and (min-width: 480px) {
    .wrapper-information .btn {
        max-width: 400px;
    }
}